# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
*.egg-info/

# PyInstaller build artifacts
build/
dist/
*.spec

# macOS DS_Store
.DS_Store

# VS Code or PyCharm project files (optional)
.vscode/
.idea/

# logs
*.log

# pyinstaller temp
*.bak

# system files
Thumbs.db
